@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: #fff;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: #e7ba80;
    align-items: center;
}

#botões {
    flex-direction: row;
    display: flex;
    gap: 10px;
    background-color: #323659;
    position: fixed;
    width: 30%; 
}

h2{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #e7ba80;
}

#layout {
  position: fixed;  
  top: 0;
  background-color: #323659;
  width: 100%;
}

p{
    font-size: x-large;
    font-weight: bold;

}